body {
    background: #eee;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    color: #4BC5C5;
}
h1 span {
    color: #8C8C8C;
}

a {
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 45%;
    right: 45%;
    opacity: 0;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
a:hover { opacity: 1; text-decoration: none; }
a img { width: 20px; height: 22px;}

#container {
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
}

.glyus[type='text'] {
    padding: 10px 20px;
    width: 70%;
    max-width: 600px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid rgb(75, 197, 197);
    outline: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
.glyus[type='text']:focus {
    border: 1px solid rgb(255, 165, 0);
}
.glyus[type='submit'] {
    border: 1px solid rgb(64, 171, 171);
    background: rgb(75, 197, 197);
    padding: 10px 30px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: white;
    font-weight: bold;
    margin-left: -4px;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
    outline: none;
}
.glyus[type='submit']:hover {
    background: rgb(255, 165, 0);
    border: 1px solid rgb(255, 165, 0);
}

.new {
    background: none;
    padding: 10px;
    border: none;
    outline: 0;
    margin: 40px auto 0;
    color: rgb(84, 133, 181);
    font-size: 22px;
    text-align: center;
}

.clicks {
    color: #8C8C8C;
    background: none;
    border: none;
    outline: 0;
    margin: 40px auto 0;
    text-align: center;
}

#total_text {
    color: #999;
    font-size: 10px;
}

#clicks_text {
    opacity: 0;
}
