body {
    background: #eee;
}

h1 {
    font-size: 70px;
    font-family: serif;
    color: #22475E;
}
h1 span {
    color: #8C8C8C;
}

#container {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
}

.glyus[type='text'] {
    padding: 10px 20px;
    width: 70%;
    max-width: 600px;
}
.glyus[type='submit'] {
    padding: 10px;
    width: 20%;
    max-width: 100px;
    background: #22475E;
    border: 2px solid rgb(65, 102, 128);
    color: rgb(252, 252, 252);
}
.glyus[type='submit']:hover {
    background: #2E5C79;
    text-shadow: 0 0 1px rgb(255, 87, 0);
}

.new {
    background: none;
    padding: 10px;
    border: none;
    outline: 0;
    margin: 40px auto 0;
    color: rgb(84, 133, 181);
    font-size: 22px;
    text-align: center;
}

.clicks {
    color: #8C8C8C;
    background: none;
    border: none;
    outline: 0;
    margin: 40px auto 0;
    text-align: center;
}

#total_text {
    color: rgb(200, 122, 75);
    font-size: 10px;
    position: absolute;
    text-align: right;
    width: 276px;
    margin-top: 12px;
}