body {
    background: #eee;
}

#container {
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
}

.glyus[type='text'] {
    padding: 10px;
    width: 70%;
    max-width: 400px;
}
.glyus[type='submit'] {
    padding: 10px;
    width: 20%;
    max-width: 100px;
    background: #22475E;
    border: 2px solid rgb(65, 102, 128);
    color: rgb(252, 252, 252);
}
.glyus[type='submit']:hover {
    background: #2E5C79;
    text-shadow: 0 0 1px rgb(255, 87, 0);
}

.new {
    background: none;
    padding: 10px;
    border: none;
    outline: 0;
    margin: 40px auto 0;
    color: rgb(84, 133, 181);
    font-size: 22px;
    text-align: center;
}

.clicks {
    background: none;
    border: none;
    outline: 0;
    margin: 40px auto 0;
    text-align: center;
}